:root{
    --fs-small1: 12px;
    --fs-small2: 14px;
    --fs-md1: 16px;
    --fs-md2: 18px;
    --fs-lg: 24px;
    --fs-xl: 28px;
    --fs-xxl: 30px;
    --Color-main: white;
    --Color-pink:	#ffc2c7;
    --Color-purple: #a9bfe4	;
    --Color-purple-opacity: rgba(169, 191, 228, 0.3)	;
    --Color-purple-name-descr:	#989EC3;
    --Color-dark:	#351F21;
    --ff-Lora: "Lora", serif;
    --ff-Sans: "Source Sans 3", sans-serif;
    --fc-section1: #351F21;
    --Color-gray: #D9D9D9;
    --Color-num-delivery: rgb(169, 191, 228);
    --Submit-color: #FFFDFD;
    --Placeholder-color: #ACACAC;
    --Box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    display: flex;
    background-color: var(--Color-purple);
    box-shadow: inset var(--Box-shadow);
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
}
div.header{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    width: 86%;
}

img[alt='logo']{
    width: 136.5px;
    height: 55px;
}
div.burger{
    display: none;
    background-image: url('./images/menu/burger.svg');
    width: 30px;
    height: 20px;
}
aside{
    position: fixed;
    top: 60px;
    width: 200px;
    z-index: 3;
    display: none;
    height: 100%;
    background-color: var(--Color-num-delivery);
}

aside#basket{
    right: 0;
    padding: 40px 20px;
    display: none;
    width: 450px;
}
span#numOfItems{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: var(--fs-small1);
    background-color: #ffc2c7;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -2px;
    top: 13px;
}
aside#basket p#positionTitle{
    width: 170px;
    height: auto;
}
aside#basket img[alt='delete']{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
aside#basket p#price{
    width: 60px;
    height: auto;
}
aside#basket p#countOfPosition{
    width: 50px;
    height: auto;
}
aside#basket h2{
    margin: 18px 0;
    font-size: var(--fs-lg);
}
aside#basket p{
    display: flex;
    flex-wrap: wrap;
    font-family: var(--ff-Lora);
}
aside#basket div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--Color-dark);
    margin: 10px;
    position: relative;
}
aside#basket div:hover{
    background-color: var(--Color-purple-name-descr);
}
aside img{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
}
aside#menu span a{
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 5px;
    height: auto;
}
aside span > a:hover{
    background-color: rgb(141, 158, 187);
}
header span.menu-list{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
header span.menu-list > span:first-of-type{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
header .menu-list span:first-of-type a,
aside span > a{
    display: inline-block;
    margin-top: 15px;
    list-style-type: none;
    text-decoration: none;
    color: var(--Color-main);
    font-family: "Lora", serif;
    font-size: var(--fs-md1);
    font-weight: 700;
    height: 25px;
    border-bottom: 1px rgba(0,0,0,0) solid;
    transition: border-bottom-color 0.3s;
} 
aside#basket.open , aside.open{
    display: inline-block;
}
header span.menu-list > span a:hover,
section.delivery footer .container1 > span:first-child > span a:hover,
footer.footer li > a:hover{
    border-bottom-color: var(--Color-main);
}

header span > img[alt='lupa']{
    margin-right: 15px;
}
header span:last-of-type > a{
    margin-top: 5px;
}
header .menu-list > span:last-of-type{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.basket{
    background-image: url(./images/menu/basket.png);
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: unset;
    position: relative;
}
header img, .basket{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.main-page{
    display: flex;
    justify-content:space-between;
    margin-left: 7%;
    width: 100%;
    margin-top: 140px;
    height: 570px;
}

img[alt="web-background"]{
    position: absolute;
    right: 0;
}

.section1{
    position: relative;
}

.section1 > h1{
    margin-top: 114px;
    font-size: var(--fs-xxl);
    font-family: var(--ff-Lora);
    font-weight: 400;
    line-height: calc(var(--fs-xxl)*1.3);
    width: 500px;
    height: 64px;
    margin-bottom: 20px;
    color: var(--fc-section1);
}

.section1 > p{
    width: 325px;
    font-family: var(--ff-Sans);
    font-size: var(--fs-md2);
    color: var(--fc-section1);
    font-weight: 400;
    line-height: calc(var(--fs-md2)*1.29);
    margin-bottom: 30px;
}

button{
    background-color: var(--Color-num-delivery);
    border-radius: 50px;
    border: none;
    box-shadow: var(--Box-shadow);
    margin-right: 12px;
    background-color: var(--Color-pink);
    color: var(--Color-main);
    font-family: var(--ff-Sans);
    font-weight: 600;
    font-size: var(--fs-md2);
    width: 150px;
    height: 40px;
    transition: 0.3s;
}

.button1{
    border: 3px var(--Color-pink) solid;
    background-color: var(--Color-main);
    color:  var(--Color-purple-name-descr);
    box-shadow: none;
}

.section1 button:first-child:hover, section.review .container1 > button:hover{
    background-color: var(--Color-purple);
    color: var(--Color-main);
}

.section1 button:last-child:hover, section.catalog button:hover{
    border-color: var(--Color-purple-name-descr);
    color: var(--Color-pink);
}

.about-us > span.options{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-us > span.options > span{
    width: 210px;
    height: 145px;
    box-shadow: var(--Box-shadow);
    background-position: center center;
    background-size: cover;
    justify-content: center;
    display: flex;
    padding-top: 105px;
}
.bouquets{
    background-image: url('./images/section2/bouquets.jpg');
}
.natural-flowers{
    background-image: url('./images/section2/natural_flowers.jpg');
}
.own-bouquet{
    background-image: url('./images/section2/own_bouquet.png');
}

.about-us > span button{
    width: 130px;
    height: 30px;
    background-color: var(--Color-purple);
    font-family: var(--ff-Lora);
    font-weight: 400;
    border-radius: 0;
    margin: 0;
}

.about-us > span button:hover{
    font-weight: 700;
    transform: scale(1.1);
}

section.about-us hr{
    border: 1px solid var(--Color-pink);
    width: 0;
    height: 25px;
    margin-top: 5px;
    position: absolute;
}

.below-options{
    display: flex;
    margin-left: 7%;
    justify-content: space-between;
}

.about-us .description{
    margin-top: 46px;
    display: block;
    width: auto;
}

h2{
    font-family: var(--ff-Lora);
    font-size: var(--fs-xl);
    color: var(--fc-section1);
    font-weight: 400;
    margin-bottom: 18px;
}

.about-us p{
    font-family: var(--ff-Sans);
    font-weight: 400;
    font-size: var(--fs-md2);
    width: 350px;
    margin-bottom: 8px;
    margin-left: 14px;
    position: relative;
    line-height: calc(var(--fs-md2)*1.29);
}

.side-imgs{
    margin-top: 120px;
    display: flex;
}

.side-imgs img[alt='abstract-figure']{
    width: 500px;
    height: 270px;
    right: 0;
    color: var(--Color-purple-name-descr);
    position: absolute;
}

.side-imgs img[alt='women']{
    margin-top: 40px;
    width: 348px;
    height: 190px;
    left: 20px;
    position: relative;
}

span.social-media{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-right: 170px;
}

img[src="./images/section2/inst.png"], img[src="./images/section2/fb.png"]{
    width: 20px;
    height: 22px;
    position: relative;
    margin-bottom: 14px;
}
img[src="./images/section2/viber.png"]{
    width: 24px;
    height: 25px;
    position: relative;
    margin-left: -2px;
    margin-bottom: 14px;
}
.our-functions{
    height: auto;
    background-color: var(--Color-purple-opacity);
    display: flex;
}
.container1{
    margin: 0 auto;
    width: 86%;
    display: block;
}
.our-functions h2{
    font-size: var(--fs-md2);
    font-family: var(--ff-Lora);
    margin-top: 10px;
    color: var(--Color-purple-name-descr);
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.delivery .container{
    max-width: 700px;
    margin: 0 auto;
}
.our-functions .container p{
    font-family: var(--ff-Sans);
    font-size: var(--fs-small2);
    color: var(--Color-dark);
    text-align: center;
}

.our-functions .container img{
    width: 62px;
    height: 55px;
    margin-top: 4px;
}

.our-functions .container > span:not(span.header){
    margin-top: 20px;
    width: 180px;
    display:grid;
    justify-items: center;
    align-content: center;
    margin-bottom: 10px;
}


section.catalog h2{
    margin-top: 48px;
    font-family: var(--ff-Lora);
    font-size: var(--fs-xl);
    font-weight: 400;
    margin-bottom: 24px;
}

section.catalog{
    position: relative;
}

section.catalog div.content > span{
    width: 200px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 var(--Color-pink);
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-right: 9%;
    background-color: var(--Color-main);
    z-index: 1;
    font-family: var(--ff-Lora);
    color: var(--Color-dark);
    font-size: var(--fs-md1);
    transition: transform 0.3s;
}

section.catalog div.content > span:hover{
    transform: scale(1.05);
}

section.catalog .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}
section.catalog .container{
    margin: 0 auto;
}
section.catalog div.content > img{
    width: 100%;
    height: 65%;
    padding-bottom: 10px;
}

section.catalog .container1 button{
    margin: 0 auto;
}
.catalog footer, .review footer{
    margin: 36px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle.active{
    background-color: var(--Color-pink);
}
.circle{
    width: 8px;
    height: 8px;
    display: flex;
    border-radius: 50%;
    background-color: var(--Color-gray);
}

section.catalog footer button, .review footer button{
    background-color: rgba(0,0,0,0);
    border: none;
    background-repeat: no-repeat;
    border-radius: 0;
    background-size:contain;
    width: 40px;
    height: 18px;
    box-shadow: none;
    margin: 0;
}
img[alt='bg-flower']{
    position: absolute;
    right: -70px;
    top: 76%;
    transform: rotate(-5deg);
    z-index: 0;
}
section.review{
    background-color: var(--Color-purple-opacity);
    height: auto;
    position: relative;
    padding-bottom: 20px;
}

section.review h2{
    font-family: var(--ff-Lora);
    font-size: var(--fs-xl);
    font-weight: 400;
}
section.review .container1{
    padding-top: 24px;
}
span#review{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}
div.opinion-container{
    width: 100%;
    display: flex;
}
div.opinion{
    margin-top: 23px;
    position: relative;
}
.opinion .review-img{
    height: 105px;
    width: 105px;
    float: left;
    display: inline;
    margin-right: 64px;
    border-radius: 50%;
}

.opinion p{
    font-family: var(--ff-Sans);
    font-weight: 400;
    display: inline;
    font-size: var(--fs-md1);
}
.opinion p.description{
    color: var(--fc-section1);
    margin-bottom: 4px;
    width: 400px;
    max-height: 90px;
    overflow-y: scroll;
}
.opinion p:not(p.description) {
    font-weight: 600;
    color: var(--Color-purple-name-descr);
}

section.review span.text{
    display: flex;
    flex-direction: column;
}

section.review span.hr{
    border: 1px solid var(--Color-pink);
    width: 20px;
    margin-bottom: 4px;
}
section.review .opinion:nth-of-type(2) hr{
    top: 81%;
}
div.opinion-container:nth-of-type(2){
    margin-top: 44px;
    justify-content: flex-end;
}
section.review img[alt='bg-flower']{
    transform: rotate(155deg);
    position: absolute;
    top: 220px;
    left: -230px;
}
section.review h2:last-of-type{
    font-size: var(--fs-lg);
    margin-bottom: 15px;
}
.review footer{
    margin-top: 26px;
}
.review textarea{
    display: block;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 10px;
    margin-top: 12px;
    height: 29px;
    padding: 4px 16px 0 16px;
    outline:none;
}
.review textarea::placeholder{
    font-family: var(--ff-Sans);
    font-size: var(--fs-small2);
    font-weight: 400;
}
.review textarea:last-of-type{
    height: 94px;
}
.review button{
    transform: scale(0.8);
    margin-top: 15px;
    margin-left: -15px;
}
section.delivery{
    height: auto;
    background-color: var(--Color-main);
    padding-top: 44px;
    position: relative;
    margin-bottom: 120px;
}
section.delivery h2{
    font-family: var(--ff-Lora);
    font-weight: 400;
    font-size: var(--fs-xl);
    color: var(--Color-dark)
}
section.delivery div.container span > span{
    display: flex;
    width: 105px;
    height: 105px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 var(--Color-pink);
    margin-top: var(--fs-xl);
    color: var(--Color-num-delivery);
    font-family: var(--ff-Lora);
    font-size: 40px;
    font-weight: 400;
}
section.delivery div.container span.content{
    width: 200px;
    display: grid;
    height: 200px;
    justify-items: center;
}
section.delivery div.container span.content p{
    text-align: center;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 100px;
    font-family: var(--ff-Lora);
    font-size: var(--fs-md1);
    color: var(--fc-section1);
    font-weight: 400;
}

footer.footer img[alt='flower']{
    width: 167px;
    height: 400px;
    transform: rotate(-55.59deg);
    position: absolute;
    bottom: 0;
    right: -4%;
    z-index: 2;
}
footer.footer{
    height: 220px;
    background-color: var(--Color-num-delivery);
    width: 100%;
    color: var(--Color-main);
    position: relative;
}

footer.footer > p{
    text-align: center;
}
footer.footer div.container1 > span:first-child{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 50%;
}
footer.footer div.container1 h3{
    font-family: var(--ff-Lora);
    font-size: var(--fs-md1);
    font-weight: 400;
    margin-bottom: 10px;
}
footer.footer a,
footer.footer li{
    font-family: var(--ff-Sans);
    font-size: var(--fs-small2);
    font-weight: 300;
    color: var(--Color-main);
    border: 1px rgba(0,0,0,0) solid;
    transition: 0.3s;
}
footer.footer ul{
    list-style: none;
}
footer.footer span:not(.email+span){
    display: inline-block;
}
footer.footer input[type='email']{
    width: 170px;
    height: 25px;
    border-radius: 50px;
    border: none;
    padding: 0 45px 0 10px;
    outline:none;
}
input[type='email']::placeholder{
    font-family: var(--ff-Sans);
    font-size: var(--fs-small1);
    font-weight: 300;
    color: var(--Placeholder-color);
}
footer.footer input[type='submit']{
    width: 89px;
    height: 26px;
    border: none;
    border-radius: 50px;
    background-color: var(--Color-pink);
    font-family: var(--ff-Sans);
    font-size: var(--fs-small1);
    font-weight: 400;
    color: var(--Submit-color);
    margin-left: -40px;
    transition: 0.3s;
}
footer.footer input[type='submit']:hover{
    background-color: var(--Color-purple-name-descr);
}
span.social{
    width: auto;
    margin-left: 10%;
}
.email{
    margin-bottom: 14px;
}
.email + span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    margin: 0 auto;
}
footer.footer span a > img{
    margin-bottom: 0;
}
footer.footer a > img[alt='viber']{
    margin-bottom: -2px;
}
footer.footer div.container1 {
    display: flex;
    align-items: center;
}

footer.footer p:last-child{
    font-weight: 300;
    font-family: var(--ff-Sans);
    font-size: var(--fs-small2);
    margin-top: 5px;
}

@media (max-width: 897px){
    header{
        height: 60px;
        justify-content: center;
    }
    header img[alt='logo']{
        margin-left: 30px;
    }
    div.header{
        width: 80%;
    }
    div.burger{
        display: flex;
        align-self: center;
        cursor: pointer;
    }
    header span.menu-list {
        width: auto;
    }
    header .menu-list span:last-of-type{
        margin-top: 0;
    }
    header .menu-list > span:first-of-type a,
    img[alt='bg-flower'], img[alt='flower'],
    footer.footer span.social{
        display: none;
        position: fixed;
    }
    .main-page{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 0;
        height: 680px;
    }
    img[alt="web-background"]{
        position: relative;
        transform: rotate(-90deg);
        margin-top: -80px;
        width: 400px;
        height: 400px;
    }
    .section1{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        width: 500px;
        height: 250px;
        justify-content: center;
    }
    .section1 h1{
        margin-top: -10px;
        font-weight: 600;
    }
    .section1 span{
        display: flex;
        width: 350px;
        justify-content: space-between;
    }
    .about-us > span.options > span{
        width: 200%;
        height: 145px;
        background-size: cover;
        align-items: center;
        padding: 0;
    }
    .about-us .description{
        width: 100%;
    }
    .options{
        width: 100%;
    }
    .about-us{
        display: flex;
        width: 86%;
        flex-wrap: wrap;
        margin: 0 auto;
        height: 900px;
        position: relative;
    }
    .about-us > span.options{
        height: 435px;
    }
    hr{
        display: none;
    }
    .about-us p{
        margin-left: 0;
    }
    .below-options{
        margin-top: -230px;
        margin-left: 0;
    }
    .side-imgs{
        position: absolute;
        bottom: 0;
        right: -9%;
    }
    section.about-us h2, section.catalog h2,
    section.review h2:first-of-type{
        font-weight: 600;
    }
    .side-imgs img[alt='abstract-figure']{
        width: 80%;
        height: 230px;
    }
    span.social-media{
        margin-right: 40px;
    }
    section.catalog div.content > span{
        margin-right: 3%;
    }
    section.review{
        height: 1000px;
    }
    span#review{
        width: auto;
        min-width: none;
        max-width: none;
    }
    .opinion .review-img{
        float:none;
        margin-bottom: 18px;
        margin-right: 0;
    }
    section.review span.text{
        margin: 0 auto;
        width: 160%;
    }
    .opinion p{
        margin-left: 0;
        max-width: 100%;
    }
    .opinion p.description{
        width: auto;
    }
    .opinion{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
    }
    aside#basket{
        width: 200px;
    }
    aside#basket div{
        text-align: left;
    }
    aside#basket div p#price,
    aside#basket p#countOfPosition,
    aside#basket p#positionTitle{
        width: 100%;
        margin-bottom: 5px;
    }
    aside img{
        margin: 0 auto;
    }
    aside#basket img[alt='delete']{
        position: absolute;
        top: 0;
        right: 0;
    }
    .opinion:nth-of-type(2){
        margin: 44px auto 0 auto;
    }
    footer.footer div.container1 > span:first-child{
        width: 100%;
    }
    footer.footer img[alt='logo']{
        position: absolute;
        bottom: 30px;
        right: 50%;
        transform: translateX(50%);
    }
    footer.footer div.container1 h3{
        margin-top: 18px;
    }
    footer.footer p:last-of-type{
        margin-top: 60px;
        font-weight: 600;
    }
    section.delivery h2{
        font-weight: 600;
    }
}
@media (max-width: 495px){
    section.catalog div.content > span{
        width: 155px;
        height: 300px;
        margin-right: 0;
    }
    section.delivery div.container span > span{
        width: 80px;
        height: 80px;
    }
    section.delivery div.container span.content{
        width: 170px;
    }
    footer.footer img[alt='logo']{
        width: 120px;
        height: 45px;
        bottom: 30px;
    }
    footer.footer{
        height: 235px;
    }
    footer.footer p:last-of-type{
        position: absolute;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
    }
    .our-functions .container > span:not(span.header) {
        width: 150px;
    }
    html{
        overflow-x: hidden;
    }
}